{% set posts = blogPosts.posts %}

<div class="container">
    <div class="row justify-content-center text-center mb-5">
        <div class="col-md-8 primary-bg-text">
            <h2 class="heading" data-aos="fade-up">Artikel</h2>
            <p class="lead" data-aos="fade-up">Kumpulan artikel Daniro Tour Travel</p>
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="100">
            <div class="media media-custom d-block mb-4">
                <a href="{{ post.url }}" class="mb-4 d-block">
                    {% if post.featured_images.count > 0 %}
                        <img src="{{ post.featured_images.first.getThumb('auto', 'auto') }}" alt="Daniro Tour Travel" class="img-fluid" />
                    {% else %}
                        <img src="http://placehold.it/100x100" alt="Daniro Tour Travel" class="img-fluid" />
                    {% endif %}
                </a>
                <div class="media-body">
                    <h2 class="mt-0 mb-3">
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <span class="meta-post">
                        Posted
                        on {{ post.published_at|date('M d, Y') }}
                    </span>
                    {% if post.excerpt %}
                        <p class="excerpt">{{ post.excerpt }}</p>
                    {% else %}
                        <div class="content">{{ str_limit(post.summary|striptags|raw, 50) }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
