<div class="container">
    <div class="row justify-content-center text-center" id="contact-page">
        <div class="col-md-8 mb-5">
        <h2 class="heading mt-5" data-aos="fade-up">Contact</h2>
        <div class="row">
            <div class="col-md-5 contact">
                <span class="fa fa-phone-square"></span>
                <span class="fa fa-comment"></span>
                <span class="fa fa-whatsapp"></span>
            </div>
            <div class="col-md contact">
                <span> 081227267312 </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 contact">
                <span class="fa fa-envelope"></span>
            </div>
            <div class="col-md contact">
                <span> daniro.marni@gmail.com </span>
            </div>
        </div>
        <a href="https://wa.me/6281227267312?text=Assalamualaikum" target="_blank" class="btn btn-success btn-lg"><span class="fa fa-whatsapp pr-3"></span>Chat WhatsApp</a>
        </div>
    </div>
</div>
