<header class="site-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 site-logo" data-aos="fade"><a href="index.html" class="animsition-link">Daniro Tour Travel</a></div>
        <div class="col-4">


          <div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- END menu-toggle -->

          <div class="site-navbar js-site-navbar">
            <nav role="navigation">
              <div class="container">
                <div class="row full-height align-items-center">
                  <div class="col-md-12 justify-content-center">
                    <ul class="list-unstyled menu">
                      <li class="active"><a href="index.html" class="animsition-link">Home</a></li>
                      <li><a href="hotel.html" class="animsition-link">Hotels</a></li>
                      <li><a href="about.html" class="animsition-link">About Us</a></li>
                      <li><a href="gallery.html" class="animsition-link">Gallery</a></li>
                      <li><a href="blog.html" class="animsition-link">News</a></li>
                      <li><a href="contact.html" class="animsition-link">Contact</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- END head -->

  <section class="site-hero overlay">
    <div class="container">
      <div class="row site-hero-inner justify-content-center align-items-center">
        <div class="col-md-10 text-center">
          <img src="{{'assets/images/profile.jpg'|theme}}" class="rounded float-left img-profile mt-2" alt="daniro tour travel">
          <h3 class="sub-heading mb-5 mt-3" data-aos="fade-up" data-aos-delay="100">
            Daniro Tour Travel melayani paket wisata liburan dan city tour di Yogyakarta serta travel perjalanan baik itu bisnis maupun pribadi sesuai kebutuhan Anda.
          </h3>
        </div>
      </div>
    </div>
  </section>
