<div class="container">
<div class="container" id="gallery-page">
    <h2 class="heading text-center" data-aos="fade-up">Gallery</h2>
    <div class="row">
        <div class="col-md-12">
        <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
            <div class="slider-item">
            <img src="{{ 'assets/images/slider1.jpg'|theme }}" alt="Image placeholder" class="img-slider">
            </div>
            <div class="slider-item">
            <img src="{{ 'assets/images/slider3.jpg'|theme }}" alt="Image placeholder" class="img-slider">
            </div>
            <div class="slider-item">
            <img src="{{ 'assets/images/slider5.jpg'|theme }}" alt="Image placeholder" class="img-slider">
            </div>
            <div class="slider-item">
            <img src="{{ 'assets/images/slider6.jpg'|theme }}" alt="Image placeholder" class="img-slider">
            </div>
            <div class="slider-item">
            <img src="{{ 'assets/images/slider7.jpg'|theme }}" alt="Image placeholder" class="img-slider">
            </div>
            <div class="slider-item">
            <img src="{{ 'assets/images/slider9.jpg'|theme }}" alt="Image placeholder" class="img-slider">
            </div>
        </div>
        <!-- END slider -->
        </div>

    </div>
</div>
</div>
